.top-box {
    background-color: #d64c31;
    color: #ffffff;
    width: 650px;
    max-height: 200px;
    position:relative;
    bottom: 130px;
    float: right;
    padding-left: 40px;
    padding-bottom: 60px;
}

#blog {
    padding: 0 40px;
}

.medium-size {
    font-size: 24px;
}

.mailing-list-text {
    line-height: 2; 
    margin-bottom: 25px;
}

#test-two {
    margin: 0 10px 10px 10px;
}

#test-three {
    margin: 10px 10px 0 0;
}

.about-section {
    flex: 1;
}

.tech-test-blog {
    display: flex; 
    flex-wrap: wrap; 
    flex: 2
}

article {
    color: #ffffff;
    background-color: #4A455C;
}

.nav-logo {
    vertical-align: text-top;
    margin-right: 25px;
}

.nav-logo img {
    max-width: 260px;
}

.footer-text {
    max-width: 380px;
}

section {
    max-width: 900px; 
    margin-top: 200px;
}

.related-article {
    background-color: #FFFFFF;
    margin: 10px;
}

.blog {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin-top: 200px;
}

blog-posts {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:400;
}

img {
    width: 100%;
    height: auto;
}

#menu {
    padding: 14px;
    text-decoration: none;
    padding-top: 35px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#menu > ul > li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4A455C;
}
  
li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    max-width: 900px;
    margin: auto;
    background: white;
    position: relative;
}

.colored-button1 {
    background-color: #d64c31;
    color: #FFFFFF;
    border:none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 35px;
    cursor: pointer;
}

.colored-button2 {
    background-color: #FFF0E7;
    font-family: 'Montserrat', sans-serif;
    border:none;
    border-style: solid;
    border-width: thin;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 2px 10px;
}

.uncolored-button {
    background-color: #ffffff;
    border:none;
    border-style: solid;
    border-color: #d64c31;
    border-width: thin;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 35px;
    cursor: pointer;
}

#related-posts {
    background-color: #FFF0E7;
    padding: 0 25px 50px;
    margin-top: 30px;
}

.related-posts__container {
    display: flex;         
}

.footer {
    background-color: #d64c31;
    padding: 20px 30px 5px;
    text-align: left;
}

.mailing-list {
    background-color: #4A455C;
    position: absolute;
    padding: 50px 35px 10px;
    max-width: 320px;
    bottom: 0;
    right: 55px;
}

input {
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #7C7D98;
    border-radius: 3px;
    border:none;
}

.info {
    padding: auto;
    justify-content: center;
}

.image-responsive {
    max-width: 15%;
    height: auto;
}

.post-text {
    padding-left: 20px;
}

.about-us {
    background-color: #7C7D98;
    margin-left: 10px;
    padding-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control input {
    width: 100%
}

.form-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

#social-media a {
    margin-right: 15px;
}

.blog-container {
    display: flex;
    flex-direction: row;
}

.blog-article {
    flex: 1;
    flex-basis: 47%;
}

.first-item {
    margin: 0 10px 10px 0;
}

.fab {
    font-size: 22px;
}

a:hover {
    text-decoration: underline;
}

.colored-button1:hover, .colored-button2:hover {
    background-color: #FFFFFF;
    color: #d64c31;
}

.uncolored-button:hover {
    background-color: #d64c31;
    color: #FFFFFF;
}

#social-media {
    color: #ffffff;
}

#social-media a, #footer-menu a {
    display: inline-block;
    margin-right: 10px;
}

#footer-menu {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}