@media screen and (max-width: 767px) {
    .top-box {
        float: none;
        width: auto;
        padding: 20px;
        max-height: none;
        bottom: 0;
    }

    .blog-container, .related-posts__container, .blog-article first-item, .tech-test-blog {
        display: block;
    }

    .about-us {
        margin: auto;
    }

    .first-item, #test-two, #test-three {
        margin: auto;
        margin-bottom: 10px;
    }

    section {
        margin-top: auto;
    }

    #menu > ul > li {
        font-size: 14px;
    }

    .nav-logo img {
        max-width: 160px;
    }
}

@media screen and (max-width: 860px) {
    .mailing-list {
        position: unset;
        max-width: none;
    }
}
